# Maven target directory
target/
**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Eclipse / STS
.project
.classpath
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and temp files
*.log
*.tmp
*.swp

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/
*.whl
.env
.venv/
env/
venv/
ENV/
.ENV/
*.env
.idea/ # if Python project in PyCharm
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
